{% extends 'base.html' %}

 {% block jquery %}
	$(".navlinks a[title='Carrello'] img").css("opacity", "1").addClass("current");
 {% endblock %}

{% block sidebar %}
        <ul>
            <li>
                <a href="{% url reload_cart cart.id %}" title="Ricalcola i prezzi">
                <img src="/media/img/reload.png" />
                </a>
            </li>
{% if not cart.receipt %}
            <li id="suspend" >
                <a href="{% url suspend_cart cart.id %}" title="Metti in sospeso">
                <img src="/media/img/save.png" />
                </a>
            </li>
{% endif %}
{% if cart.current %}
            <li class="retail" id="new_receipt">
                <a href="#" title="Emetti uno scontrino">
                    <img src="/media/img/cash_register.png" />
                </a>
            </li>
            <li class="invoice" id="new_ddt">
                <a href="#" title="Documento di trasporto">
                <img src="/media/img/ddt.png" />
                </a>
            </li>
            <li class="invoice" id="new_invoice">
                <a href="#" title="Fattura immediata">
                <img src="/media/img/invoice.png" />
                </a>
            </li>
{% endif %}
{% if cart.suspended %}
            <li id="put_suspended_in_cart">
                <a href="{% url resume_cart cart.id %}" title="Metti tutto in un nuovo carrello">
                <img src="/media/img/cart_insert.png" />
                </a>
            </li>
{% endif %}

        </ul>
{% endblock %}
