<table id="product_list" style="{% if not products %}display:none;{% endif %} width: 100%">
    <thead>
        <tr style="text-align: right">
            <th></th>
            <th style="text-align: left">Articolo</th>
            <th>Q.t&agrave;</th>
            <th>Prezzo{% if customer and not customer.is_retail %} netto{% endif %}</th>
            <th>Sc.%</th>
            <th>Valore</th>
        </tr>
    </thead>
    <tbody>
        {% if customer and not customer.is_retail %}
            {% for item in products %}
                {% include  "cart/product_row_net.html" %}
            {% endfor %}
        {% else %}
            {% for item in products %}
                {% include  "cart/product_row.html" %}
            {% endfor %}
        {% endif %}

    </tbody>
</table>

<div id="summary_temp">

    {% include "cart/summary.html" %}

</div>

<script type="text/javascript">
    $("#summary_temp").replaceAll($("#cart_summary")).attr("id", "cart_summary");
</script>
