{% extends "cart/main.html" %}

{% block title %}Fattura {{ invoice.year}}/{{invoice.number}}{% endblock %}

{% block header %}
    <h1>{{ invoice }}</h1>
{% endblock %}

{% block jquery %}
    {{block.super}}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

<div class="framed">
    <h3>Cliente: <a href="{% url show_customer customer.id %}">{{customer.name}}</a></h3>

    <div id="invoice_info">

        <ul class="ddt_info" style="float: right; font-size: 1.2em">
            {% if invoice.payment_method != "ok"%}<li>Pagamento: {{ invoice.get_payment_method_display}}</li>{% endif %}
            <li>Totale: <b>{{ invoice.apply_vat.0 }} &euro;</b></li>
            <li>Stato: <span id="due">{% if invoice.payed %}PAGATA{% else %}<b>da saldare</b>{%endif %}</span></li>
        </ul>
        <hr class="clearfix" />
    </div>

    {% if cart %}
    <div id="cart1">
        {% include "cart/product_list_static.html" %}
    </div>
    {% else %}
    <div id="ddts">
        {% for ddt in ddts %}
            {% with cart=ddt.cart %}
             <h3><a href="#">{{ ddt }}</a></h3>
             <div id="cart{{forloop.count}}">
            {% include "cart/product_list_static.html" %}
             </div>
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    <hr class="clearfix" />

    <button id="pay_all" style="display:none">Segna come pagata</button>
    <a id="print" target="_blank" href="{% url print_invoice invoice.id %}">Stampa</a>
    <a style="display:none" id="print_no_ddt" target="_blank" href="{% url print_unreferenced_invoice invoice.id %}">Stampa (no rif. DDT)</a>
    <a style="display:none" id="export" target="_blank" href="{% url xml_export invoice.id %}">Esporta XML</a>
</div>



<script type="text/javascript">
$("#print").button().show();
$("#export").button().show();
{% if ddts %}
    $("#print_no_ddt").button().show();
{% endif %}
{% if not invoice.payed %}
    $("#pay_all").button().show().click(
            function(e) {
                $.post("{% url pay_due_invoice invoice.id %}",
                    {},
                    function(data, status) {
                        $("#due").empty().html("PAGATA");
                        $("#pay_all").hide();
                    }
                )
            }
        );

{% endif %}
{% if ddts %}
$( "#ddts" ).accordion({
			autoHeight: false,
		});
{% endif %}
</script>

{% endblock %}
