{% extends 'ajax_tab.html' %}

{% block content %}
{% if customer.is_retail %}
    {% regroup receipts by date.year as year_list %}
{% else %}
    {% regroup receipts by year as year_list %}
{% endif %}
{% for year in year_list %}
    <h3>{% if 2000 > year.grouper  %}20{% endif %}{{ year.grouper}}</h3>
    <table class="receipts" style="width: 70%">
        <thead>
            <th>Documento di vendita</th>
            <th>Totale</th>
            {% if not customer.is_retail %}<th>Fattura</th>{% else %}<th>Ancora dovuto</th>{% endif %}
        </thead>
        <tbody>

        {% for receipt in year.list %}
            <tr>
            {% if receipt.typename == "Scontrino" %}
                <td style="background-color: #ffe"><a href="{% url show_receipt receipt.id %}">{{ receipt }}</a></td>
                <td class="decimal">{{ receipt.cart.discounted_total }}</td>
                <td class="decimal">{{ receipt.due }}</td>
            {% else %}
                {% if receipt.typename == "Ddt" %}
                    <td style="background-color: #fee"><a href="{% url show_ddt receipt.id %}">{{ receipt }}</a></td>
                    <td class="decimal">{{ receipt.cart.discounted_total }}&euro;</td>
                    <td class="decimal">
                    {% if receipt.invoice %}
                    <a href="{% url show_invoice receipt.invoice.id %}" title="{{ receipt.invoice }}">
                        {% if receipt.invoice.payed %}
                                Pagata
                        {% else %}
                                <span class="important">Da pagare</span>
                        {% endif %}
                    </a>
                    {% else %}Da emettere{% endif %}</td>
                {% else %}
                    <td style="background-color: #eef"><a href="{% url show_invoice receipt.id %}">{{ receipt }}</a></td>
                    <td class="decimal">{{ receipt.apply_vat.0 }}</td>
                    <td class="decimal"><a href="{% url show_invoice receipt.id %}">
                    {% if receipt.payed %}
                        Pagata
                    {% else %}
                        <span class="important">Da pagare</span>
                    {% endif %}
                    </a></td>
                {% endif %}
            {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endfor %}
{% endblock %}
