{% extends "cart/main.html" %}

{% block title %}Documento di trasporto{% endblock %}

{% block header %}
    <h1>{{ ddt }}</h1>
{% endblock %}

{% block jquery %}
    {{block.super}}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

<div class="framed">
    {% if cart.customer %}
    <h3>Cliente: <a href="{% url show_customer cart.customer.id %}">{{cart.customer.name}}</a></h3>
    {% endif %}
    <div id="cart_display">
        <div style="float:left; font-size: 1.1em" >Destinazione:
<pre style="background-color: #fff; border: 1px solid #ccc; padding:8px">
{{ ddt.shipping_address }}
</pre>
        </div>
        <ul class="ddt_info" style="float: right; font-size: 1.2em">
            {% if ddt.appearance %}<li>Aspetto: {{ ddt.appearance }}</li>{% endif %}
            {% if ddt.boxes %}<li>Aspetto: {{ ddt.boxes }}</li>{% endif %}
        </ul>
        <hr class="clearfix" />
        {% include "cart/product_list_static.html" %}


    <hr class="clearfix" />

    <a id="new_invoice" href="{% url new_invoice customer.id %}" style="display:none">Emetti fattura</a>
    <a id="print" target="_blank" href="{% url print_ddt ddt.id %}" style="display:none; float:right">Stampa</a>
</div>

<script type="text/javascript">
{% if not ddt.invoice %}
    $("#new_invoice").button().show();
{% endif %}
    $("#print").button().show();
</script>

{% endblock %}
