{% extends "customers/main.html" %}

{% block title %}{{ customer }}{% endblock %}

{% block jquery %}
	{{ block.super }}
        function removeDialogs() {
            $(".dialog").remove();
        }

        function showMessage(content) {
            $(".message_pane").html(content).show('fade', {}, 'fast', function() {
                var pane = $(this);
                setTimeout(function() {pane.hide("fade", {}, "slow")}, 500);
            });
        }

        $( "#tabset" ).tabs({'cache': true});

        $('#tabset').bind('tabsload', function(event, info){
            if (info.index == 1) {
                $("#id_pricelist").trigger('focus');
                $("#save_commercial").attr('disabled', true);
            }
            else if (info.index == 0) {
                $("#id_name").trigger('focus');
                $("#save_customer").attr('disabled', true);
            }
        });

    /*--- event bindings -------------*/

        $( "#header" ).bind('infoUpdated',
            function(event) {
                $( "#header>h1" ).html($("#customer_info [name=name]").get(0).value);
            });

        $( "#customer_info" ).live('submit', function() {
            $.ajax({
                "url": "{% url customer_info_tab customer.pk %}",
                "type": "POST",
                "data": $("#customer_info").serialize(),
                "complete": function(xhr, status) {
                    $("#Dati_principali").html(xhr.responseText);
                    if (status == "success") {
                        $("#header").triggerHandler('infoUpdated');
                        $("#save_customer").attr('disabled', true);
                        $("#id_name").trigger('focus');
                        showMessage("<b>Modifiche salvate!</b>");
                    };
                }
            });
            return false;
        });

        $( "#customer_commercial" ).live('submit', function() {
            $.ajax({
                "url": "{% url customer_commercial_tab customer.pk %}",
                "type": "POST",
                "data": $("#customer_commercial").serialize(),
                "complete": function(xhr, status) {
                    $("#Commerciale").html(xhr.responseText);
                    if (status == "success") {
                        $("#save_commercial").attr('disabled', true);
                        $("#id_pricelist").trigger('focus');
                        showMessage("<b>Modifiche salvate!</b>");
                    };
                }
            });
            return false;
        });

        $( "select", "#customer_commercial" ).live('keypress', function(event) {
            if (event.which == 13) {
                $("#customer_commercial").trigger('submit');
            }
        });

        $( "#customer_info" ).live('change', function() {
            $("#save_customer").attr('disabled', false);
        });

        $( "#customer_commercial" ).live('change', function() {
            $("#save_commercial").attr('disabled', false);
        });

{% endblock %}

{% block header %}
    <h1>{{ customer.name }}</h1>
{% endblock %}

{% block content %}

    <div id="tabset">
        {% with customer.id as id %}
        <ul>
            <li><a href="{% url customer_info_tab id %}" title="Dati principali">Dati principali</a></li>
            <li><a href="{% url customer_commercial_tab id %}" title="Commerciale">Commerciale</a></li>
            <li><a href="{% url customer_history_tab id %}" title="Acquisti">Acquisti</a></li>
        </ul>
        {% endwith %}
        <div class="message_pane">
            <b>Area messaggi</b>
        </div>
    </div>
{% endblock %}
