{% load sales_tags %}

{% for item in cart.cartitem_set.all %}
    {% with total=item.net_total %}
    <table class="right">
    <tr>
        <td class="quantity right">{{ item.quantity }} {{ item.product.unit }}</td>
        <td class="description">{{ item.product.name }}</td>
        <td class="price">{{ item.final_net_price }}</td>
        <td class="item_total">{% if item.discount %}{{ total|sum }}{% else %}{{ total.0 }}{% endif %}</td>
    </tr>
    </table>
    {% if item.discount %}   
    <table class="right">
    <tr>
        <td class="quantity"></td>
        <td class="description italic">sconto art. {{ item.discount }}%</td>
         <td class="price"></td>
        <td class="item_total">-{{ total.1 }}&euro;</td>
    </tr>
    </table>
    {% endif %}    
    {% endwith %}
{% endfor %}
{% if cart.discount %}   
    <table class="right">
    <tr>
        <td class="quantity"></td>
        <td class="description italic">sconto cliente {{ cart.discount }}%</td>
         <td class="price"></td>
        <td class="item_total">-{{ cart.final_net_discount }}&euro;</td>
    </tr>
    </table>
    {% endif %}
