{% extends "cart/main.html" %}

{% block title %}
   {% if cart.suspended %}
	Lista in sospeso
   {% else %}
        Carrello
    {% endif %}	
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/media/js/jquery.ui.productSearch.js"></script>
    <script type="text/javascript" src="/media/js/jquery.jeditable.mini.js"></script>
    <style type="text/css">
        #cart_params, #cart_summary {
            display: inline
        }
        #total_values {
            top: 0;
            padding: 0.5em 1.8em;
            position: absolute;
            right: -300px; width: 200px;
            border: 1px solid #ccc;
            text-align: right;
            color: #999;
        }
        #subtotal, #discount, #vat, #taxable {
            font-size: 1.5em;
            color: #000;
            margin-left: 10px;
        }
        #total {
            border-top: 2px solid black;
            font-size: 2.8em;
            color: #000;
            margin: 5px 0;
        }

    </style>
{% endblock %}

{% block header %}

    {% if cart.current %}

    <h1>Carrello di
    <span id="customer_choice">
        <button id="customer_name" style="font-weight: bold">Nome cliente</button>
        <button id="open_customer_search">Cerca</button>
        <button id="reset_customer">Resetta</button>
        <input id="customers" />
        <span id="new_customer">
            Nuovo cliente:
            <button id="new_retail" type="button" >Privato</button>
            <button id="new_company" type="button" >Azienda</button>
        </span>
    </span>
    </h1>
    
    <div id="import_suspended" style="display: none; color: red">C'&egrave; una lista in sospeso per questo cliente. <a href="{% url merge_suspended cart.id %}">Aggiungila al carrello.</a><br/></div>
    
    {% else %}
        <h1 style="display:none">Carrello di
    <span id="customer_choice">
        <button id="customer_name" style="font-weight: bold">Nome cliente</button>
        <button id="open_customer_search">Cerca</button>
        <button id="reset_customer">Resetta</button>
        <input id="customers" />
        <span id="new_customer">
            Nuovo cliente:
            <button id="new_retail" type="button" >Privato</button>
            <button id="new_company" type="button" >Azienda</button>
        </span>
    </span>
    </h1>
        
	{% if cart.receipt.child.type == "ddt" %}
          {% with cart.receipt.child as ddt %}
	      <h1>Carrello di {{ cart.customer.name }} relativo al <a href="{% url show_ddt ddt.id %}"> DdT n. {{ ddt.number }}</a></h1>
	  {% endwith %}
	{% elif cart.suspended %}
	      <h1>Lista in sospeso di <a href="{% url show_customer cart.customer.id %}">{{ cart.customer.name }}</a></h1>
	{% endif %}
    {% endif %}

{% endblock %}

{% block jquery %}
    {{block.super}}

    // object holding the current Customer
    {% if customer %}
        var customer = {{ customer.json|safe }};
    {% else %}
            var customer = null;
    {% endif %}

    initialize();

    function initialize() {
        $( "#new_customer :button,#save" ).button();

        $("#open_customer_search").button({text: false, icons: { primary: 'ui-icon-search' }});
        $("#reset_customer").button({text: false, icons: { primary: 'ui-icon-arrowreturn-1-w' }});
        update_customer(customer, false);
        close_customer_search();
        $("#new_receipt a").trigger("focus");
    };

    function close_customer_search() {
        $("#customers").hide();
        $("#new_customer").hide();
        $("#customer_name").show();
        if (customer != null) {
            $("#reset_customer").show();
        } else {
            $("#reset_customer").hide();
        };
        $("#open_customer_search").show();
        $("#products").trigger("focus");
    };

    function update_customer(c, reload_cart) {
        setupButtons(c);
        if (c != null) {
            $("#customer_name").button({label: c.name});
            data = {'customer_id': c.id};
        } else {
            $("#customer_name").button({label: "Anonimo"});
            data = {};
        }
        customer = c;
        if (reload_cart != false)
            $.post("{% url edit_cart_customer cart.id %}", data, function(html, status) {$("#cart_display").html(html)}, "html");
    };

    function updateList(productRow) {
        var pid = $(productRow).attr("id");
        var existing =  $("tr#" + pid);
        if (existing.length > 0)
            { existing.replaceWith(productRow) }
        else {
              $("#product_list>tbody").append(productRow);
              $("#product_list").show();
              $("#save").show();
        };
        $("#cart_summary").load("{% url get_cart_summary cart.id%}");
        $("#products").val("");
        $("#products").trigger("focus");
    };

    function addProductToList(pk) {
        $.get("{% url add_product_to_cart cart.id %}",
                {'product_pk': pk},
                function(resultForm) {
                    $("#add_product_dialog").html(resultForm).modal()
                }
        );
        return false;
    }


    $("#open_customer_search").live('click', function() {
        $(this).hide();
        $("#new_customer").show();
        $("#customer_name").hide();
        $("#reset_customer").hide();
        $("#customers").val("").show().trigger("focus");
    });

    $("#reset_customer").live('click', function() {
        update_customer(null);
    });

    $("a.edit_product").live('click', function() {
        $.get($(this).attr("href"),
            {},
            function(resultForm) {
                $("#add_product_dialog").html(resultForm).modal({
                    'open': function() { $("#id_quantity", this).trigger('focus');}
                })
            }
        );
        return false;
    });

    $( "#customers" ).autocomplete({
        source: function(request, response) {
            $.ajax({
                "url": "{% url find_customer %}",
                "data": {'term': request.term},
                "dataType": "json",
                "success": function(results) {
                    response(results);
                }
            });
        },
        minLength: 2,
        focus: function( event, ui ) {
            /*$( "#products" ).val( ui.item.fields.name );*/
            return false;
        },
        select: function( event, ui ) {
            /*$( "#products" ).val( ui.item.fields.name );*/
            if (ui.item) {
                update_customer(ui.item);
                close_customer_search();
            }
            return false;
        }
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
    };

    // keypress does not work on chrome
    $("#customers").keyup(function(e){
        if(e.keyCode==27){
            close_customer_search();
        }
    });

    $( "#products" ).autocomplete({
        source: function(request, response) {
            $.ajax({
                "url": "{% url ajax_find_product %}",
                "data": {'term': request.term},
                "dataType": "json",
                "success": function(results) {
                    response(results);
                    if (results.length == 0) {
                        $("#product_search_message").show();
                    }
                }
            });
        },
        minLength: 3,
        search: function(event, ui) {
            $("#product_search_message").hide();
        },
        focus: function( event, ui ) {
            /*$( "#products" ).val( ui.item.fields.name );*/
            return false;
        },
        select: function( event, ui ) {
            /*$( "#products" ).val( ui.item.fields.name );*/
            if (ui.item) {
                addProductToList(ui.item.pk);
            }
            return false;
        }
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.fields.name + "<br/><span class=\"searchcode\">" + item.fields.code + "</span></a>" )
                .appendTo( ul );
    };



    $( "#add_product" ).live('click', function() {
            var form = $( "#add_product_to_cart_form" );
            $.ajax({
                "url": form.attr("action"),
                "type": "POST",
                "data": form.serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        $( "#add_product_dialog" ).dialog("close");
                        updateList(xhr.responseText);
                    } else {
                        $("#add_product_dialog").html(xhr.responseText);
                    };
                }
            });
            return false;
        });

     $( "#new_retail" ).live('click', function() {
            $( "#new_customer_dialog" ).modal({url: "{% url add_customer %}"});
            return false;
    });

    $( "#new_company" ).live('click', function() {
        $( "#new_customer_dialog" ).modal({url: "{% url add_company %}"});
        return false;
    });

    $( "#save_new_customer" ).live('click', function() {
            var form = $( "#new_customer_form" );
            $.ajax({
                "url": form.attr("action"),
                "type": "POST",
                "data": form.serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        $( "#new_customer_dialog" ).dialog("close");
                        update_customer($.parseJSON(xhr.responseText));
                        close_customer_search();
                    } else {
                        $("#new_customer_dialog").html(xhr.responseText);
                    };
                }
            });
            return false;
        });


    prepare_dialog_for = function(name, dialog_url) {
        var button_id = "#new_" + name;
        var dialog_id = button_id + "_dialog";
        $( button_id ).live('click', function() {
            $( dialog_id ).modal({'url': dialog_url});
            return false;
        });

        $( "#save_new_" + name ).live('click', function() {
            var form = $( button_id + "_form" );
            $.ajax({
                "url": form.attr("action"),
                "type": "POST",
                "data": form.serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        window.location.href = xhr.responseText;
                    } else {
                        $( dialog_id ).html(xhr.responseText);
                    };
                }
            });
            return false;
        });
    }

    prepare_dialog_for("ddt", "{% url new_ddt %}");
    prepare_dialog_for("receipt", "{% url new_receipt %}");
    prepare_dialog_for("invoice", "{% url new_invoice_from_cart cart.id %}");

    $("#discount_button").live('click', function() {
        $(this).hide();
        $("#discount_input").show().trigger('focus');
    });

    $("#id_pricelist").live('change', function(e){
            $.ajax({
                "url": "{% url edit_cart_pricelist cart.id %}",
                "type": "POST",
                "data": {'pricelist': $(this).val()},
                "complete": function(xhr, status) {
                    if (status == "success") {
                        $("#cart_display").html(xhr.responseText);
                    }
                }
            });

    });


    $("#discount_input").live('keyup', function(e){
        $("#discount_error").hide();
        if(e.keyCode==27){
            $(this).hide().val(discount);
            $("#discount_button").show();
        }
        else if (e.keyCode==13) {
            $.ajax({
                "url": "{% url edit_cart_discount cart.id %}",
                "type": "POST",
                "data": {'discount': $(this).val().trim()},
                "complete": function(xhr, status) {
                    if (status == "success") {
                        $("#cart_summary").html(xhr.responseText);
                    } else {
                        $("#discount_input").val(discount);
                        $("#discount_error").show();
                    }
                }
            });
        }
    });

    $("#toggle_rounding").live('click', function(e) {
        $.post($(this).attr("href"),
            {},
            function (data, status) {
                if (status == "success") {
                    $("#cart_summary").html(data);
                }
            }, "html")
        return false;
    });

    $("#customer_name").live("click", function() {
        if (customer) {
            window.location.href = customer.url;
        }
    });

{% endblock %}

{% block content %}

    <form id="baseform" action="" method="post">
    {{ base_form.as_p }}
    </form>

<div class="framed">

    <div id="search_product" style="position: relative">
        <span id="product_search_message" class="autocomplete-message">
            Nessun risultato
        </span>
        <span>Cerca prodotto:</span>
        <input id="products" />

        <div id="cart_summary"></div>

    </div>



    <div id="cart_display">
            {% include "cart/product_list.html" %}
    </div>

</div>

    <div id="add_product_dialog" title="Vendi un prodotto" class="dialog"></div>
    <div id="new_receipt_dialog" title="Emetti lo scontrino" class="dialog"></div>
    <div id="new_ddt_dialog" title="Prepara un DDT" class="dialog"></div>
    <div id="new_invoice_dialog" title="Prepara una fattura" class="dialog"></div>
    <div id="new_customer_dialog" title="Aggiungi un cliente" class="dialog"></div>


{% endblock %}
