<tr id="p{{ item.id }}">
    <td><input type="checkbox" {% if item.update %}checked="checked"{% endif %}" /></td>
	<td>{{ item.product.name}}</td>
	<td class="decimal" style="font-size: 1.2em;">{{ item.quantity}}</td>
    <td class="decimal" style="background-color: #ffe;font-size: 1.2em;">{{ item.final_price }}</td>
	<td class="decimal" style="color:#666">{{ item.discount }}%</td>
    <td class="decimal" style="font-size: 1.2em; background-color: #efe">{{ item.final_value }}</td>
    <td class="actions" style="border: None">
		<a class="edit_product" href="{% url add_product_to_cart %}?product_pk={{ item.product.id}}" title="Modifica"><img src="/media/img/edit-small.png"/></a>
		<a class="delete_product" href="{% url remove_product_from_cart item.id %}" title="Togli questo articolo"><img src="/media/img/cancel-small.png"/></a>
    </td>
</tr>
