<tr id="p{{ item.id }}">
    <td><input type="checkbox" disabled="disabled" {% if item.update %}checked="checked"{% endif %}" /></td>
	<td>
	{% if item.product %}
	<a href="{% url show_product item.product.id %}">{{ item.desc}}</a>
	{% else %}
	{{ item.desc}}
	{% endif %}
	</td>
	<td class="decimal">{{ item.quantity}}</td>
    <td class="decimal" style="background-color: #ffe">{{ item.final_net_price }}</td>
	<td class="decimal" style="color:#666">{{ item.discount }}%</td>
    <td class="decimal" style="background-color: #efe">{{ item.net_total.0 }}</td>
    <td class="actions" style="border: None">
	       {% if item.product %}
		<a class="edit_product" href="{% url add_product_to_cart cart.id %}?product_pk={{ item.product.id}}" title="Modifica"><img src="/media/img/edit-small.png"/></a>
	      {% endif %}
		<a class="delete_product" href="{% url remove_product_from_cart item.id %}" title="Togli questo articolo"><img src="/media/img/cancel-small.png"/></a>
    </td>
</tr>
