{% extends "product/main.html" %}

{% block title %}Mostra fornitura{% endblock %}

{% block header %}
    <h1>{{ batch }}</h1>
{% endblock %}

{% block jquery %}
    {{block.super}}


{% endblock %}

{% block content %}

    <div class="framed">

    <table id="product_list" {% if not products %}style="display:none"{% endif %}>
    <thead>
        <tr>
            <td>Cod. fornitore</td>
            <td>Nome</td>
            <td>Quantit&agrave;</td>
            <td>Prezzo</td>
        </tr>
    </thead>
    <tbody>
        {% for item in products %}
            {% include  "batch_load/product_row_readonly.html" %}
        {% endfor %}
    </tbody>
    </table>
    </div>

{% endblock %}


