{% load common_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <link rel="stylesheet" href="/media/main.css" />
    <title>{% block title %}Site title{% endblock %}</title>

    <link type="text/css" href="/media/css/smoothness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="/media/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.13.custom.min.js"></script>

    {% block head %} {% endblock %}
    <script type="text/javascript">
        $.fn.modal = function(options) {
            var load_url = options ? options.url : null;
            var dest = this;
            if (load_url) {
                $.get(load_url, function(data, status) {
                    if (status == "success") {
                        return dest.html(data).dialog(
                            $.extend({
                                'resizable': true,
                                'modal': true
                            }, options)
                        );
                    }
                }, "html");
            } else return dest.dialog(
                $.extend({
                    'resizable': true,
                    'modal': true
                }, options)
            );
        }


        $(function() {
		$(".navlinks img").css("opacity", "0.2");
        if ($.trim($("#sidebar").html()) == "")
                $("#sidebar").hide();
        {% block jquery %}{% endblock %}
		$(".navlinks img").not("[class]").hover(
			function() {
				$(this).css("opacity", "1").addClass("current");
			},
			function() {
				$(this).css("opacity", "0.3").removeClass("current");
			});

        });
    </script>
</head>

<body>

    <div id="topbar">
        <div id="logo">Silver Sly <span>{% silversly_version %}</span></div>
        <div class="navlinks">
        <a href="{% url find_product %}" title="Articoli"><img src="/media/img/products.png" /></a>
        <a href="{% url edit_cart %}" title="Carrello"><img src="/media/img/cart.png" /></a>
        <a href="{% url find_supplier %}" title="Fornitori"><img src="/media/img/suppliers.png" /></a>
        <a href="{% url find_customer %}" title="Clienti"><img src="/media/img/customers.png" /></a>
        <a href="{% url list_categories %}" title="Categorie"><img src="/media/img/categories.png" /></a>
        </div>
        <div class="navlinks right">
        <a href="{% url settings %}" title="Impostazioni"><img src="/media/img/settings.png" /></a>
        <a href="{% url homepage %}" title="Pagina riassuntiva"><img src="/media/img/home.png" /></a>
        </div>
    </div>

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li>
                <a href="{% url find_product %}" title="Cerca un articolo">
			<img src="/media/img/search.png" />
		</a>
            </li>
            <li>
                <a href="{% url add_product %}" title="Aggiungi un articolo">
			<img src="/media/img/add.png" />
		</a>
            </li>
            <li>
                <a href="{% url new_batch_load %}" title="Carica una fornitura">
			<img src="/media/img/add_many.png" />
		</a>
            </li>
        </ul>
        {% endblock %}
    </div>

    <div id="main">
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        <div id="actions">
            {% block actions %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    {% value_from_settings "DEBUG" as debug %}
    {% if  debug %}
        <div style="padding: 10px;font-size: 2em; text-align: center; position: absolute;width: 90%;margin: 10px 30px; border: 2px solid green; background-color: #cfc; bottom: 10px;">Archivio di prova!</div>
    {% endif %}
    


</body>
</html>
