{% extends "base.html" %}
{% load sales_tags %}

{% block title %}Silversly - Benvenuta!{% endblock %}


{% block head %}
<style type="text/css">
    #sidebar { display: none }
    #main { margin-left: 20px}
    #suspended { width: 40%; }
    #need_invoice, #debtors { width: 25% }
    .column {
        float: left;
        padding: 0 0.5em;
        margin: 1em 0.8em 1em 0.2em;
        border: 1px solid #ccc;
    }
    #archivio .column { width: 22% }
    .clear {
        clear: both;
    }
    h2 {
        margin: 2px;
        padding: 3px;
        padding-left: 1em;
        border: 1px solid #aaa;
        border-radius: 3px;
    }
    h3 {
        border: 0;
        margin-bottom: 10px;
    }
    .pane {
        overflow-y: auto;
        max-height: 200px;
    }
    .pane table {
        margin-top: 0;
        width: 100%;
    }
    .pane p {
        font-style: italic;
        color: #666;
        font-size: .8em;
        margin: 1px 10px;
    }
</style>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div>
    <div id="vendite">
        <h2 style="background-color: #fee" >Vendite in corso</h2>

        <div class="column" id="suspended">
            <h3>Acquisti in sospeso {% if suspended_carts %}({{ suspended_carts|sum:'discounted_total'}} &euro;){% endif %}</h3>
            <div class="pane">
            {% if suspended_carts %}
                <table >

                {% for cart in suspended_carts %}
                <tr>
                    <td><a href="{% url revise_cart cart.id %}">{{cart.customer.name}}</a></td>
                    <td class="decimal">{{cart.discounted_total}}&euro;</td>
                </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Nessuno.</p>
            {% endif %}
            </div>
        </div>

        <div class="column" id="need_invoice">
            <h3>Da fatturare {% if need_invoice %}({{ need_invoice.values|sum}} &euro;){% endif %}</h3>
            <div class="pane">
            {% if need_invoice %}
            <table >
            {% for customer, total in need_invoice.items %}
            <tr>
                <td><a href="{% url show_customer customer.id %}">{{ customer }}</a></td>
                <td class="decimal"><a class="new_invoice" href="{% url new_invoice customer.id %}" title="emetti fattura">{{ total }}&euro;</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuna.</p>
            {% endif %}
         </div>
        </div>

        <div class="column" id="debtors">
            <h3>Da incassare {% if debtors %}({{ debtors|sum:'due'}} &euro;){% endif %}</h3>
            <div class="pane">
            {% if debtors %}
                <table >
                {% for debtor in debtors %}
                <tr>
                    <td><a href="{% url show_customer debtor.id %}">{{debtor}}</a></td>
                    <td class="decimal">{{debtor.due}}&euro;</td>
                </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Tutti i clienti sono in regola. Che bravi!</p>
            {% endif %}
            </div>
        </div>

        <div class="clear"></div>

    </div>


    <div id="archivio">
        <h2 style="background-color: #efe" >Archivio</h2>

        <div class="column" >
            <h3>Ultimi scontrini</h3>
            <div class="pane">
            {% if last_receipts %}
            <table >
            {% for scontrino in last_receipts %}
            <tr>
                <td>
                <a {% if scontrino.due %}
                    class="important"
                    title="{{ scontrino.cart.customer|default:'anonimo' }} ti deve {{ scontrino.due }}&euro;"
                   {% endif %} href="{% url show_receipt scontrino.id %}">{{scontrino}}</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuno scontrino emesso.</p>
            {% endif %}
            </div>
        </div>

        <div class="column">
            <h3>Ultimi Ddt</h3>
            <div class="pane">
            {% if last_ddts %}
            <table >
            {% for d in last_ddts %}
            <tr>
                <td>
                <a title="{{ d.cart.customer }}"
                   href="{% url show_ddt d.id %}">{{ d }}</a>
		{% if forloop.first %}
		<a id="delete_last_ddt" title="cancella l'ultimo ddt emesso"
                   href="{% url delete_last_ddt %}"><img src="/media/img/cancel.png" width="16"/></a>
		{% endif %}
		</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessun Ddt emesso.</p>
            {% endif %}
            </div>
        </div>

        <div class="column">
            <h3>Ultime fatture</h3>
            <div class="pane">
            {% if last_invoices %}
            <table >
            {% for i in last_invoices %}
            <tr>
                <td>
                <a title="{{ i.cart.customer }}"
                   href="{% url show_invoice i.id %}">{{ i }}</a>
		{% if forloop.first %}
		<a id="delete_last_invoice" title="cancella l'ultima fattura emessa"
                   href="{% url delete_last_invoice %}"><img src="/media/img/cancel.png" width="16"/></a>
		{% endif %}
		</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuna fattura emessa.</p>
            {% endif %}
         </div>
        </div>

        <div class="column">
            <h3>Ultime fatture PA</h3>
            <div class="pane">
            {% if last_painvoices %}
            <table >
            {% for i in last_painvoices %}
            <tr>
                <td>
                <a title="{{ i.cart.customer }}"
                   href="{% url show_invoice i.id %}">{{ i }}</a>
		{% if forloop.first %}
		<a id="delete_last_invoice" title="cancella l'ultima fattura emessa"
                   href="{% url delete_last_painvoice %}"><img src="/media/img/cancel.png" width="16"/></a>
		{% endif %}
		</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuna fattura emessa.</p>
            {% endif %}
         </div>
        </div>

        <div class="clear"></div>
    </div>

    <div id="new_invoice_dialog" title="Prepara una fattura" class="dialog" style="display: none"></div>
    <div id="delete_invoice_dialog" title="Annulla fattura" class="dialog" style="display: none"></div>
    <div id="delete_ddt_dialog" title="Annulla Ddt" class="dialog" style="display: none"></div>

</div>
{% endblock %}

{% block jquery %}
    $(".navlinks a[title='Pagina riassuntiva'] img").css("opacity", "1").addClass("current");

    prepare_dialog_for = function(name) {
        var link_class = ".new_" + name;
        var dialog_id = "#new_" + name + "_dialog";
        $( link_class ).live('click', function() {
            var href = $(this).attr("href");
            $( dialog_id ).modal({url: href});
            return false;
        });

        $( "#save_new_" + name ).live('click', function() {
            var form = $( "#new_" + name + "_form" );
            $.ajax({
                "url": form.attr("action"),
                "type": "POST",
                "data": form.serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        window.location.href = xhr.responseText;
                    } else {
                        $( dialog_id ).html(xhr.responseText);
                    };
                }
            });
            return false;
        });
    }

    prepare_dialog_for("invoice");
    prepare_dialog_for("ddt");

    $( "#delete_last_invoice" ).live('click', function() {
        var delete_anchor = $(this);
        $( "#delete_invoice_dialog" ).dialog({
                        'draggable': false,
                        'resizable': false,
                        'modal': true,
                        'open': function() { $(this).load(delete_anchor.attr('href'))}
        });
        return false;
    });

    $( "#delete_last_ddt" ).live('click', function() {
        var delete_anchor = $(this);
        $( "#delete_ddt_dialog" ).dialog({
                        'draggable': false,
                        'resizable': false,
                        'modal': true,
                        'open': function() { $(this).load(delete_anchor.attr('href'))}
        });
        return false;
    });


{% endblock %}
