{% extends "base.html" %}

{% block title %}Silversly - Benvenuta!{% endblock %}


{% block head %}
<style type="text/css">
    #sidebar { display: none }
    #main { margin-left: 20px}
    .columns > div {
        float: left;
        width: 24%;
        border: 1px solid #ccc;
        padding: 1em;
        margin: 1em}
    h2 {
        margin: 2px;
        padding: 3px;
        padding-left: 1em;
        border: 1px solid #aaa;
        border-radius: 3px;
    }
    h3 {
        border: 0;
        margin-bottom: 10px;
    }
    #vendite h2 { background-color: #fee   }
    #magazzino h2 { background-color: #eef   }
    #acquisti h2 { background-color: #efe   }
    .pane {
        overflow-y: auto;
        width: 100%;
        max-height: 300px;
    }
    .pane table {
        margin-top: 0;
        width: 100%;
    }
    .pane p {
        font-style: italic;
        color: #666;
        font-size: .8em;
        margin: 1px 10px;
    }
</style>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="columns">
    <div id="magazzino">
        <h2>Magazzino <a href="{% url print_catalogue %}" target="_blank">(stampa catalogo)</a></h2>
        <h3>Articoli sottoscorta ({{ outstock|length }})</h3>
        {% if outstock %}
        <div class="pane">
        <table >
            {% for product in outstock %}
            <tr>
                <td><a href="{% url show_product product.id %}">{{product.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
        <p>Tutto a posto!</p>
        {% endif %}
    </div>
    <!--
    <div id="acquisti">
        <h2>Acquisti</h2>
        <h3>Ordini in corso</h3>
    </div>
    -->
    <div id="vendite">
        <h2>Vendite</h2>
        <h3>Debitori</h3>
        <div class="pane">
            {% if debtors %}
                <table >

                {% for debtor in debtors %}
                <tr>
                    <td><a href="{% url show_customer debtor.id %}">{{debtor}}</a></td>
                    <td class="decimal">{{debtor.due}}&euro;</td>
                </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Tutti i clienti sono in regola. Che bravi!</p>
            {% endif %}
        </div>
    
        <h3>Fatture da emettere</h3>
        <div class="pane">
            {% if need_invoice %}
            <table >
            {% for customer, total in need_invoice.items %}
            <tr>
                <td><a href="{% url show_customer customer.id %}">{{ customer }}</a></td>
                <td class="decimal"><a class="new_invoice" href="{% url new_invoice customer.id %}" title="emetti fattura">{{ total }}&euro;</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuna.</p>
            {% endif %}
         </div>
    </div>
    
    <div id="archivio">
        <h2>Archivio</h2>
        <h3>Ultimi scontrini</h3>
         <div class="pane">
            {% if last_receipts %}
            <table >
            {% for scontrino in last_receipts %}
            <tr>
                <td>
                <a {% if scontrino.due %}
                    class="important"
                    title="{{ scontrino.cart.customer|default:'anonimo' }} ti deve {{ scontrino.due }}&euro;"
                   {% endif %} href="{% url show_receipt scontrino.id %}">{{scontrino}}</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuno scontrino emesso.</p>
            {% endif %}
         </div>

         <h3>Ultimi Ddt</h3>
         <div class="pane">
            {% if last_ddts %}
            <table >
            {% for d in last_ddts %}
            <tr>
                <td>
                <a title="{{ d.cart.customer }}"
                   href="{% url show_ddt d.id %}">{{ d }}</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessun Ddt emesso.</p>
            {% endif %}
         </div>
	 
	 <h3>Ultime fatture</h3>
         <div class="pane">
            {% if last_invoices %}
            <table >
            {% for i in last_invoices %}
            <tr>
                <td>
                <a title="{{ i.cart.customer }}"
                   href="{% url show_invoice i.id %}">{{ i }}</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Nessuna fattura emessa.</p>
            {% endif %}
         </div>
    </div>

    <div id="new_invoice_dialog" title="Prepara una fattura" class="dialog" style="display: none"></div>
</div>
{% endblock %}

{% block jquery %}
    $(".navlinks a[title='Pagina riassuntiva'] img").css("opacity", "1").addClass("current");

    prepare_dialog_for = function(name) {
        var link_class = ".new_" + name;
        var dialog_id = "#new_" + name + "_dialog";
        $( link_class ).live('click', function() {
            var href = $(this).attr("href");
            $( dialog_id ).modal({url: href});
            return false;
        });

        $( "#save_new_" + name ).live('click', function() {
            var form = $( "#new_" + name + "_form" );
            $.ajax({
                "url": form.attr("action"),
                "type": "POST",
                "data": form.serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        window.location.href = xhr.responseText;
                    } else {
                        $( dialog_id ).html(xhr.responseText);
                    };
                }
            });
            return false;
        });
    }

    prepare_dialog_for("invoice");

{% endblock %}
