{% extends "base.html" %}

{% block title %}Silversly - Benvenuta!{% endblock %}

{% block jquery %}
	$(".navlinks a[title='Pagina riassuntiva'] img").css("opacity", "1").addClass("current");
{% endblock %}

{% block head %} 
<style type="text/css">
    #sidebar { display: none }
    #main { margin-left: 20px}
    .columns > div { 
        float: left; 
        width: 24%;
        border: 1px solid #ccc;
        padding: 1em;
        margin: 1em}
    h2 { 
        margin: 2px;
        padding: 3px;
        padding-left: 1em;
        border: 1px solid #aaa;
        border-radius: 3px;
    }
    #vendite h2 { background-color: #fee   }
    #magazzino h2 { background-color: #eef   }
    #acquisti h2 { background-color: #efe   }
    #outstock {
        overflow-y: auto;
        width: 100%;
        max-height: 300px;
    }
    #outstock table {
        margin-top: 0;
    }
</style>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="columns">
    <div id="magazzino">
        <h2>Magazzino <a href="{% url print_catalogue %}" target="_blank">(stampa catalogo)</a></h2>
        <h3>Articoli sottoscorta ({{ outstock|length }})</h3>
        {% if outstock %}
        <div id="outstock">
        <table >
            {% for product in outstock %}
            <tr>
                <td><a href="{% url show_product product.id %}">{{product.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
        <p>Tutto a posto!</p>
        {% endif %}
    </div>

    <div id="acquisti">
        <h2>Acquisti</h2>
        <h3>Ordini in corso</h3>
    </div>

    <div id="vendite">
        <h2>Vendite</h2>
        <h3>Crediti</h3>
        <h3>Ultimi scontrini</h3>
         <div id="outstock">
         <table >
            {% for scontrino in last_receipts %}
            <tr>
                <td><a href="{% url show_receipt scontrino.id %}">{{scontrino}}</a></td>
            </tr>
            {% endfor %}
        </table>
         </div>
        <h3>Ultimi DDT</h3>
    </div>
</div>

{% endblock %}