{% if pricelists %}
    <div id="pricelists">
    {% for pricelist in pricelists %}
        <div class="pricelist_box">
            <div class="pricelist_name">
                {{ pricelist.name }}
            </div>
            <p class="pricelist_desc">
                {{ pricelist.desc }}
            </p>
            <div class="netprice">
                <div>netto:</div> 
                {{ pricelist.price.net }}&euro;
            </div>
            <div class="taxes">
                <div>iva:</div> 
                {{ pricelist.price.tax }}&euro;
            </div>
            <p class="fullprice">{{ pricelist.price.gross }}&euro;</p>
            <div class="actions">
            {% if pricelist.customized %}
            <a class="open_modify_markup_dialog" href="{% url modify_price product.id pricelist.name %}" title="Modifica il listino"><img src="/media/img/edit.png"/></a>
            <a class="reset_price" id="reset_price" href="{% url reset_price pricelist.price.id %}" title="Usa i valori standard di questo listino"><img src="/media/img/edit-undo.png"/></a>
            {% else %}
            <a class="open_modify_markup_dialog" href="{% url modify_price product.id pricelist.name %}" title="Modifica il listino"><img src="/media/img/edit.png"/></a>
            {% endif %}
            </div>
            
            
            
        </div>
            
    {% endfor %}
    <div class="clearfix"></div>
    </div>
    
{% else %}
    <p class="notice">Non esistono listini.</p> 
{% endif %}