{% if supplies %}
    <table>
    <thead>
        <tr>
            <td>Fornitore</td>
            <td>Prezzo 1</td>
            <td>Prezzo 2</td>
        </tr>
    </thead>
    <tbody>
    {% for supply in supplies %}
        <tr>
            <td>{{ supply.supplier.name }}</td>
            <td class="decimal">{{ supply.price }}</td>
            <td class="decimal">{{ supply.altprice|default:"N/D" }}</td>
            <td><a class="remove_supply" href="{% url remove_supply supply.id %}">Elimina</a>
                    <a class="open_modify_supply_dialog" href="{% url modify_supply supply.id %}">Modifica</a>
            </td>
        </tr>
    {% endfor %}
        <tr class="totals">
            <td>Prezzo base:</td>
            <td class="decimal highlight">{{ product.base_price }}</td>
        </tr>
    </tbody>
    </table>
{% else %}
    <p class="notice">Non hai specificato nessun fornitore per questo articolo.</p>
{% endif %}
