{% extends "suppliers/main.html" %}

{% block title %}Aggiungi un fornitore{% endblock %}

{% block header %}
    <h1>Aggiungi un fornitore</h1>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(function() {
            $("#id_name").trigger('focus');
        });
    </script>
    <form class="bigform" action="" method="post">
        <div class="framed">
            {{ form.as_p }}
        </div>
        <input type="submit" value="Aggiungi" />
    </form>
{% endblock %}

        
