{% extends "suppliers/main.html" %}

{% block title %}Cerca un fornitore{% endblock %}

{% block jquery %}
	{{ block.super }}
        {{ block.super }}
        $( "#suppliers" ).autocomplete({
        source: function(request, response) {
            $.ajax({
                "url": "{% url find_supplier %}",
                "data": {'term': request.term},
                "dataType": "json",
                "success": function(results) {
                    response(results);
                    if (results.length == 0) {
                        $("#search_message").show();
                    }
                }
            });
        },
        minLength: 1,
        search: function(event, ui) {
            $("#search_message").hide();
        },
        focus: function( event, ui ) {
            return false;
        },
        select: function( event, ui ) {
            if (ui.item) {
                window.location.href = ui.item.url;
            }
            return false;
        }
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
    };

    $( "#suppliers" ).trigger("focus");

{% endblock %}

{% block header %}
    <h1>Cerca un fornitore</h1>
{% endblock %}

{% block content %}

    <div class="search_field">
        <input id="suppliers" />
        <span id="search_message" class="autocomplete-message" style="display: none">
            Nessun risultato
        </span>
    </div>

{% endblock %}
