{% extends "category/main.html" %}

{% block title %}{{ category }}{% endblock %}

{% block head %}
<link type="text/css" href="/media/css/data_tables.css" rel="Stylesheet" />
<script type="text/javascript" language="javascript" src="/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/media/js/dataTables.numericComma.js"></script>
<script type="text/javascript" src="/media/js/jquery.jeditable.mini.js"></script>
{% endblock %}

{% block jquery %}
	{{ block.super }}
	var oTable = $("table").dataTable({
		"bStateSave": true,
		"aaSorting": [[ 0, "asc" ]],
		"bJQueryUI": true,
		"fnDrawCallback": function () {
			$('.dataTables_filter input').trigger('focus');
			$('.quantity, .code').editable(
				function(edited, settings) {
					var td = $(this);
					var updated = "errore";
					var name = td.attr('class').split(" ", 1)[0];
					$.ajax({
						type: 'POST',
						async: false,
						url: "{% url quickedit %}",
						data: {'id': td.parent().attr("id").slice(1),
							'name': name,
							'value': edited,
							},
						success: function (data) {
							var parts = data.split("@@");
							updated = parts[0];
							td.siblings(".updated").text(parts[1]);
						},
						dataType: 'text'
					});
					oTable.fnDraw();
					return(updated);
				},
				{}
			).bind("click.editable", function() {$("input", $(this).parent()).select() });
		},
		"oLanguage": {
			/*"sLengthMenu": "Mostra _MENU_ articoli per volta",*/
			"sZeroRecords": "Nessun articolo trovato",
			"sInfo": "_TOTAL_ articoli visualizzati",
			"sInfoEmpty": "0 articoli",
			"sInfoFiltered": "su _MAX_ totali",
			"sSearch": "Cerca:"
		},
		"bSortClasses": false,
		"sScrollY": "380px",
		"bPaginate": false,
		"aoColumns": [
				null,
				null,
				null,
				{ "sType": "string" },
				{ "sType": "numeric-comma" }
			]
    });
	
     $('.dataTables_filter input')
            .unbind('keyup')
            .bind('keyup', function(e){
                if (e.keyCode != 13) return;
                oTable.fnFilter($(this).val());
                $(this).select();
            }).select();

    $("tr").hover(
        function() {
            $(".delete_product", this).show();
        },
        function() {
            $(".delete_product", this).hide();
        }
    );

    $( "#delete_product" ).live('click', function() {
        var delete_anchor = $(this);
        $( "#delete_product_dialog" ).dialog({
            'draggable': false,
            'resizable': false,
            'modal': true,
            'open': function() { $(this).load(delete_anchor.attr('href'))}
        });
        return false;
    });

    product_deleted_callback = function (pk) {
        var row = $("#p" + pk);
        $(".delete_product", row).remove();
        var link = $(".name a", row);
        link.replaceWith("<i>" + link.text() + "</i>");
        row.css("color", "#ccc");
    };

{% endblock %}

{% block header %}
    <div id="breadcrumbs">{{ category.parent.breadcrumbs|safe }}</div>
    <h1>{{ category.name }} <span>( {{ category.total_products }} articoli )</span></h1>
{% endblock %}

{% block content %}
    {% comment %}
    <h2>Sottocategorie:</h2>
    <ul id="categories">
    {% for category in children %}
        <li><a href="{% url list_by_category category.id %}">{{ category.name }} ({{ category.total_products }})</a></li>
    {% empty %}
        <li>Nessuna categoria sotto di questa.</li>
    {% endfor %}
    </ul>
    {% endcomment %}

    <!--<h2>Prodotti:</h2>-->
    {% if products %}
    <!--<div class="framed">-->
    <table id="products">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Codice</th>
            <th>Quantit&agrave;</th>
	    <th>Aggiornato</th>
            <th>Prezzo base</th>
        </tr>
        </thead>
        <tbody>
    {% for product in products %}
        <tr id="p{{ product.id }}">
            <td class="name"><a href="{% url show_product product.id %}">{{ product.name }}</a>
                <a class="delete_product" style="float: right; display: none" id="delete_product" href="{% url delete_product product.id %}"><img src="/media/img/delete.png" width="18"/></a>
            </td>
            <td class="code">{{ product.code}}</td>
            <td class="quantity decimal{% if product.quantity < product.min_quantity %} warning{% endif %}">{{ product.quantity}}</td>
            <td class="updated">{{ product.updated|date:"d-m-y"}}</td>
	    <td class="decimal">{{ product.base_price}}</td>

        </tr>
    {% endfor %}
        </tbody>
        </table>
    <!--</div>-->
    {% else %}
        <p class="framed">Nessun articolo in questa categoria.</a>
    {% endif %}

    <div id="delete_product_dialog" title="Elimina un articolo" class="dialog"></div>

{% endblock %}
