{% extends "customers/main.html" %}

{% block title %}Cerca un cliente{% endblock %}

{% block jquery %}
	{{ block.super }}
        $( "#customers" ).autocomplete({
        source: function(request, response) {
            $.ajax({
                "url": "{% url ajax_find_customer %}",
                "data": {'term': request.term},
                "dataType": "json",
                "success": function(results) {
                    response(results);
                    if (results.length == 0) {
                        $("#customer_search_message").show();
                    }
                }
            });
        },
        minLength: 2,
        search: function(event, ui) {
            $("#customer_search_message").hide();
        },
        focus: function( event, ui ) {
            /*$( "#products" ).val( ui.item.fields.name );*/
            return false;
        },
        select: function( event, ui ) {
            /*$( "#products" ).val( ui.item.fields.name );*/
            if (ui.item) {
                window.location.href = ui.item.url;
            }
            return false;
        }
    }).data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
    };


{% endblock %}

{% block header %}
    <h1>Cerca un cliente</h1>
{% endblock %}

{% block content %}

    <div class="search_field">
        <input id="customers" />
    </div>

{% endblock %}
