{% extends "product/main.html" %}

{% block title %}Aggiungi un articolo{% endblock %}

{% block header %}
    <h1>Aggiungi un articolo</h1>
{% endblock %}

{% block jquery %}
	{{ block.super }}
    $("#id_name").trigger("focus");
    $(".errorlist+p>input").css("background-color", "#fef").css("border-color", "red").slice(0,1).trigger("focus");
    
{% endblock %}

{% block content %}
    <form class="bigform" action="" method="post">
        <div class="framed">
            {{ form.as_p }}
        </div>
        <input type="submit" value="Aggiungi" />
    </form>
{% endblock %}

        
