{% extends "product/main.html" %}

{% block title %}Cerca un articolo{% endblock %}

{% block head %}
    <script type="text/javascript" src="/media/js/jquery.ui.productSearch.js"></script>
    <script type="text/javascript" src="/media/js/jquery.jeditable.mini.js"></script>
{% endblock %}


{% block globalvars %}
	var chosenCart;
        var chosenProduct;
        var cache = {};
{% endblock %}
	
{% block jquery %}
        {{ block.super }}


        $( "#delete_product" ).live('click', function() {
                    var delete_anchor = $(this);
                    $( "#delete_product_dialog" ).dialog({
                        'draggable': false,
                        'resizable': false,
                        'modal': true,
                        'open': function() { $(this).load(delete_anchor.attr('href'))}
                    });
                    return false;
        });

        product_deleted_callback = function (pk) {
            $("#infobox").hide();
            delete cache[pk];
            $("#products").trigger("focus");
        };
        
	set_current_cart = function (cart) {
		chosenCart = cartbox.attr("id").split("_")[1];
		$(".cartbox.current").removeClass("current");
		cart.addClass("current");
		return cart;
	}
	
	check_add_cart_button = function() {
		carts = $(".cartbox");
		if ((carts.length == 1) && !carts.is(":visible")) {
			$("#sell_in_new_cart").hide();
		}
	}
	
        update_cart_info = function (cartbox) {
		var carts = $(".cartbox");
		var cart_pk = cartbox.attr("id").split("_")[1];
                $.ajax({
                        url: "{% url get_current_cart_json_summary %}",
			data: {'cart_pk': cart_pk},
                        success: function(data) { 
                                var items = data[0].number_of_items;
                                if (items > 0) {
                                        $(".cart_items", cartbox).text(items);
                                        $(".cart_total", cartbox).html(data[0].fields.final_total + " &euro;");
                                        cartbox.slideDown();
                                } else {
					/*cartbox.slideUp();
					if (carts.length > 1) {
						if (cartbox.hasClass("current")) {
							cartbox.remove();
							set_current_cart($(".cartbox").first());
						}
						else {
							cartbox.remove();
						}
					}*/
					/*check_add_cart_button();*/
                                }
                        },
                        error: function() {
				cartbox.fadeOut();
                        },
                        dataType: "json"
                });
                return cartbox;
        };


        $("#main").bind("showResult", function(e, product) {
            chosenProduct = product;
            var box = $("#infobox").hide();

            var show_box = function (content) {
                box.html(content).show();
                $("#qty_value").editable(
                    function (edited, settings) {
                        var updated = 'errore';
                        $.ajax({
                            type: 'POST',
                            async: false,
                            url: "{% url quickedit %}",
                            data: {'id': product.pk,
                                'name': 'quantity',
                                'value': edited,
                            },
                            success: function (data) {
                                var parts = data.split("@@");
                                updated = parts[0];
                                $("#updated_on").text(parts[1]);
                                delete cache[product.pk];
                                $("#make_up_to_date").hide();
                                $("#products").trigger("focus");
                            },
                            dataType: 'text'
                        });
                        return updated;
                    },
                    {
                    }
                ).bind("click.editable", function() {$("#infobox input").select()});

            };

            if (!product) {
                $("#infobox").hide();
                $("#message").show();
                return;
            }
            $("#message").hide();

            if (product.pk in cache) {
                show_box(cache[product.pk]);
                $(".button", box).button();
                if (product.perfect_match) {
                    $( "#sell" ).trigger("focus");
                }
            }
            else {
                $.get("{% url show_infobox %}",
                    {'id': product.pk},
                    function(data) {
                        cache[product.pk] = data;
                        show_box(data);
                        $(".button", box).button();
                        if (product.perfect_match) {
                            $( "#sell" ).trigger("focus");
                        }
                    }
                );
            };

        });

        $("#products").trigger("focus");

        $( "#make_up_to_date" ).live('click', function(event) {
            event.preventDefault();
            var link = $(this);
            $.get(
                link.attr("href"),
                {},
                function(data) {
                        $("#updated_on").text(data);
                        delete cache[chosenProduct.pk];
                        $("#products").trigger("focus");
                        link.hide();
                },
                "text"
            );
        });

        $( "#sell" ).live('click', function() {
            var sell_button = $(this);
            $( "#sell_product_dialog" ).modal({url: sell_button.attr('href')}, {product_pk: chosenProduct.pk, cart_pk: chosenCart});
            return false;
        });
	
	$( "#sell_in_new_cart" ).live('click', function() {
            var sell_button = $(this);
            $( "#sell_product_dialog" ).modal({url: sell_button.attr('href')}, {product_pk: chosenProduct.pk});
            return false;
        });

        $( "#add_product_to_cart_form" ).live('submit', function() {
            $.ajax({
                "url": $(this).attr("action"),
                "type": "POST",
                "data": $(this).serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        update_cart_info($(".cartbox.current")).animate({ backgroundColor:'#ffffcc'}, 
                                200, 'linear', function(){
                                        $(this).animate({ backgroundColor: 'white' });
                        });
                        $("#sell_product_dialog").dialog('close');
                        $("#products").trigger("select");
                    } else {
                        $("#sell_product_dialog").html(xhr.responseText);
                    };
                }
            });
            return false;
        });

        $("#products").autocomplete({source_url: "{% url ajax_find_product %}", delay: 500});
        
        $(".cartbox a").button().live('click', function(event) {
		var cartbox = $(this).parent();
		if (!cartbox.hasClass("current")) {
			set_current_cart(cartbox);
			event.preventDefault();
		};			
	});
	chosenCart = {{ carts.0.pk }};
	$(".cartbox").each(function (index, cart) { return update_cart_info($(cart)) });
	/*check_add_cart_button();*/
	
{% endblock %}

{% block header %}
    <h1>Cerca un articolo</h1>
{% endblock %}

{% block content %}

    <div class="search_field">
        <input id="products" />

    </div>

    <div id="message" style="display:none">Nessun risultato</div>

    <div id="infobox" class="framed" style="display: none">
    </div>
    
    <div id="carts">
    {% for cart in carts %}
    {% include 'product/snippets/cartbox.html' %}
   
    {% endfor %}
    </div>
    
    <div id="sell_product_dialog" title="Vendi questo prodotto" class="dialog"></div>

    <div id="delete_product_dialog" title="Elimina un articolo" class="dialog"></div>

{% endblock %}
