{% extends "product/main.html" %}

{% block title %}Cerca un articolo{% endblock %}

{% block head %} 
    <script type="text/javascript" src="/media/js/jquery.ui.productSearch.js"></script>
{% endblock %}

{% block jquery %}
	{{ block.super }}
	
        var chosenProduct;
        
        $("#main").bind("showResult", function(e, product) {
            chosenProduct = product;
            if (!product) {
                $("#infobox").hide();
                $("#message").show();
                return;
            }
            $("#message").hide();
            var box = $("#infobox");
            $(".suppliers").load("/articolo/" + product.pk + "/fornitori/readonly/");
            
            $(".title", box).html(product.fields.name);
            /*$(".code>span", box).html(product.fields.code);*/
            if (parseFloat(product.fields.quantity) < parseFloat(product.fields.min_quantity)) {
                $(".quantity>span", box).html(product.fields.quantity + " " + product.fields.unit + " <span style=\"color:red\">(sottoscorta)</span>");
            } else {
                $(".quantity>span", box).html(product.fields.quantity + " " + product.fields.unit);
            }
            $.ajax({
                "url": "/articolo/" + product.pk + "/prezzi_listino/Pubblico/ajax/",
                "type": "GET",
                "dataType": "json",
                "success": function(data) {
                    $(".price>span", box).html(data.gross);
                }
            });
            
            $( "#go" ).attr("href", "/articolo/" + product.pk);
            $( "#sell" ).attr("href", "/carrello/aggiungi_articolo/" + product.pk);
            
            box.show();
        });
        
        $("#products").trigger("focus");
        $( "#go,#sell,#load" ).button();
        
        $( "#sell" ).live('click', function() {
            var sell_button = $(this);
            $( "#sell_product_dialog" ).dialog({
                'draggable': false,
                'resizable': false,
                'modal': true,
                'open': function() { $(this).load(sell_button.attr('href'))}
            });
            return false;
        });
        
        $( "#add_product_to_cart_form" ).live('submit', function() {
            $.ajax({
                "url": $(this).attr("action"),
                "type": "POST",
                "data": $(this).serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        $("#sell_product_dialog").dialog('close');
                    } else {
                        $("#sell_product_dialog").html(xhr.responseText);                    
                    };
                }
            });
            return false;
        });
        
		$("#products").autocomplete({source_url: "{% url ajax_find_product %}"});
        
            
{% endblock %}

{% block header %}
    <h1>Cerca un articolo</h1>
{% endblock %}

{% block content %}

    <div class="search_field">
        <input id="products" />
        
    </div>
    
    <div id="message" style="display:none">Nessun risultato</div>
    
    <div id="infobox" class="framed" style="display: none">
        <div class="title"></div>
        <!--<div class="code">Codice: <span></span></div>-->
        <div class="quantity">Disponibilit&agrave;: <span></span></div>
        <div class="price">Prezzo al pubblico: <span>0</span>&euro;</div>
        <div class="suppliers">
        </div>
        <br/>
        
        <a id="go" href="#">Scheda</a>
        <a id="sell" href="#">Vendi</a>
        <a id="load" href="#">Carica</a>
    </div>
    
    <div id="sell_product_dialog" title="Vendi questo prodotto" class="dialog"></div>
    
{% endblock %}