{% extends "product/main.html" %}

{% block title %}Cerca un articolo{% endblock %}

{% block head %}
    <script type="text/javascript" src="/media/js/jquery.ui.productSearch.js"></script>
{% endblock %}

{% block jquery %}
	{{ block.super }}

        var chosenProduct;
        var cache = {};

        $("#main").bind("showResult", function(e, product) {
            chosenProduct = product;
            var box = $("#infobox").hide();
            if (!product) {
                $("#infobox").hide();
                $("#message").show();
                return;
            }
            $("#message").hide();

            if (product.pk in cache) {
                box.html(cache[product.pk]).show();
                $(".button", box).button();
                if (product.perfect_match) {
                    $( "#sell" ).trigger("focus");
                }
            }
            else {
                $.get("{% url show_infobox %}",
                    {'id': product.pk},
                    function(data) {
                        cache[product.pk] = data;
                        box.html(data).show();
                        $(".button", box).button();
                        if (product.perfect_match) {
                            $( "#sell" ).trigger("focus");
                        }
                    }
                );
            };


        });

        $("#products").trigger("focus");

        $( "#sell" ).live('click', function() {
            var sell_button = $(this);
            $( "#sell_product_dialog" ).dialog({
                'draggable': false,
                'resizable': false,
                'modal': true,
                'open': function() { $(this).load(sell_button.attr('href'))}
            });
            return false;
        });

        $( "#add_product_to_cart_form" ).live('submit', function() {
            $.ajax({
                "url": $(this).attr("action"),
                "type": "POST",
                "data": $(this).serialize(),
                "complete": function(xhr, status) {
                    if (status == "success") {
                        $("#sell_product_dialog").dialog('close');
                        $("#products").trigger("select");
                    } else {
                        $("#sell_product_dialog").html(xhr.responseText);
                    };
                }
            });
            return false;
        });

		$("#products").autocomplete({source_url: "{% url ajax_find_product %}"});


{% endblock %}

{% block header %}
    <h1>Cerca un articolo</h1>
{% endblock %}

{% block content %}

    <div class="search_field">
        <input id="products" />

    </div>

    <div id="message" style="display:none">Nessun risultato</div>

    <div id="infobox" class="framed" style="display: none">
    </div>

    <div id="sell_product_dialog" title="Vendi questo prodotto" class="dialog"></div>

{% endblock %}
