<div class="title">{{ product.name }}
    <a style="float: right" id="delete_product" href="{% url delete_product product.pk %}"><img src="/media/img/delete.png" width="20"/></a>
    <br />
    <a style="font-size: 0.7em" href="{% url list_by_category product.category.id %}">{{ product.category }}</a>
</div>

<!--<div class="code">Codice: <span></span></div>-->
<div class="quantity">
    <span id="qty_value" {% if product.quantity < product.min_quantity %} style="color: red"{% endif %}>{{ product.quantity }} </span><span style="font-size: 1.2em">{{ product.unit }} </span>
    <span style="font-size: 0.7em; padding-left: 5px;">al <span id="updated_on">{{ product.updated|date:"d/m/y" }}</span>
    {% if not product.is_up_to_date %}
    <a id="make_up_to_date" href="{% url ajax_mark_up_to_date product.pk %}"><img src="/media/img/okay.png" width="15px"/></a>
    {% endif %}
    </span>
    
</div>
<div class="price">{{ price.gross }} <span style="font-size: 0.75em">&euro;</span></div>
<div class="suppliers" style="font-size: 0.8em">
    {% include "supply/list_simple.html" %}
</div>

<br/>

<a id="go" class="button" href="{% url show_product product.id %}">Scheda</a>
<a id="sell" class="ajax button" href="{% url add_product_to_current_cart %}">Vendi</a>
<a id="sell_in_new_cart" class="ajax button" href="{% url add_product_to_current_cart %}">+</a>

<!--<a id="load" class="ajax button" href="#">Carica</a>-->
